
/*------------------------------------------*/
/*--Sections--*/
/*------------------------------------------*/

/*navbar*/
.navbar__container{
    padding: 10px;
}

.navbar__name{
    display: flex;
    justify-content: center;
    align-items: center;
}

#experience{
    background: #F9F9F9;
}

/* Proyects */
#galeria img{
    width: 100%;
}

#galeria .grid__galeria__proyects{
    height: 250px;
    overflow: hidden;
    padding: 20px;
    
}

.grid__galeria__proyects:hover{
    border: 1px solid white;
    opacity: 0.5;
}

/*------------------------------------------*/
/*--Icons--*/
/*------------------------------------------*/

.iconExperience > svg{
    width: 100px;
    height: 100px;
}

/*------------------------------------------*/
/*--Carousel--*/
/*------------------------------------------*/

.container_carousel_wrapper{
    margin: 30px 0px;
}

.wrapper__image__microproyect__carousel{
    width: 320px;
    height: 200px;
}

.wrapper__image__microproyect__carousel > img {
    width: 100%;
    height: 100%;
}

.carousel__item__wrapper{
    margin: 0px 30px;
    opacity: 0.5;
    cursor: pointer;
}



.carousel__item__wrapper:hover{
    opacity: 1;
}

/*------------------------------------------*/
/*--Footer--*/
/*------------------------------------------*/

.footer__wrapper{
    background: #FFC200;
    margin: 0 !important;
}

.footer__wrapper > .container > h1{
    margin-bottom: 0 !important;
}

.icon__footer__wrapper{
    width: 40px;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
}


.wrapper__footer{
    display: flex !important;
    justify-content: center !important;
}